:root {
  --myRed: rgb(255, 0, 81);
  --myGreen: rgb(0, 255, 171);
  --myBlack: #282828;
  --myGrey: #353535;
}

* {
  font-family: 'Alexandria', sans-serif;
}

body {
  background-color: var(--myGrey);
}

#pleaseSelect {
  font-size: 15px;
  padding-top: 9px;
  padding-left: 2px;
  padding-bottom: 8px;
  color: white;
}

#introVideo {
  position: relative;
  text-align: center;
  color: white;
  height: calc(100vh - 95px);
  background-color: black;
  margin-right: 2px;
  margin-left: 2px;
}

.watchWhat {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  line-height: 7vw;
  font-weight: bolder;
  text-shadow: 0px 0px 30px #000000;
}

.jumbotron {
  padding: 0 0;
  margin-bottom: 0px;
}

#video-background {
  opacity: .5;
  height: calc(100vh - 95px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

#netflix {
  background: url("../images/btn_Netflix.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#now {
  background: url("../images/btn_Now.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#prime {
  background: url("../images/btn_Prime.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#iplayer {
  background: url("../images/btn_iPlayer.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#apple {
  background: url("../images/btn_AppleTV.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#disney {
  background: url("../images/btn_Disney.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#all4 {
  background: url("../images/btn_4.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#britbox {
  background: url("../images/btn_BritBox.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#zee5 {
  background: url("../images/btn_Zee5.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#mubi {
  background: url("../images/btn_Mubi.png") black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.btn {
  height: 50px;
  width: 150px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
  border-style: none;
}

.btnModal {
  height: 50px;
  width: 100px;
  border-style: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: default;
}

.btnModal:hover {
  cursor: default;
}

.btn:hover {
  opacity: 1;
}

.btn:focus {
  opacity: 1;
}

.btn-primary:focus,
.btn-primary:active {
  box-shadow: none !important;
  outline: 0px !important;
}

#menuBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

#searchOptions {
  display: flex;
  flex-direction: row;
}

#genreLabel {
  padding-left: 35px;
}

.form-select {
  background-color: var(--myGrey);
  border: 0px;
  position: relative;
  top: -3px;
  color: white;
  box-shadow: none;
  font-size: 15px;
}

.form-select:focus {
  outline: none !important;

}

#go-button {
  height: 30px;
  width: 80px;
  opacity: 1;
  margin-right: 2px;
  margin-bottom: 0px;
  border-style: none;
  background-color: white;
  color: black;
  line-height: 0px;
  margin-bottom: 5px;
}

#go-button:hover {
  background-color: grey;
  color: white;
}

#posters {
  height: 100vh;
  margin-left: 12px;
  margin-right: 12px;
}

.card-img-top:hover {
  opacity: 0.8;
  cursor: pointer;
}

#selectionInfo {
  display: flex;
  flex-direction: column;
}

/* below here are the options for the character selection toggle buttons */
.mediaSelector {
  margin-top: 5px;
  margin-right: 10px;
  padding-left: 2px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: grey;
}

.mediaSelectorSelected {
  margin-top: 5px;
  margin-right: 10px;
  padding-left: 2px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 19px;
  margin-right: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  padding: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--myBlack);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--myBlack);
}

input:checked+.slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hide {
  display: none;
}
#feedbackAndGo {
  display: flex;
  flex-direction: row;
}

.feedback {
  color: red;
  font-size: 80%;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
  bottom: 5px;

}

.modal-body {
  display: flex;
  background-color: var(--myBlack);
  color: white;
  padding: 0px 5px 5px 5px;
}

.movieDataPoster {
  width: 50%;
  height: 33.75%;;
}

.modal-header {
  background-color: var(--myBlack);
  height: 25px;
}

.close {
  color: white;
  opacity: 1;
}

.modal-header .close {
  padding: .5rem .75rem;
}

.close:hover {
  color: white;
  opacity: 1;
}

#selectionInfo {
  padding-left: 20px;
}

#selectionInfo .title {
  font-size: 25px;
  margin-bottom: 20px;
}

#selectionInfo .plot {
  margin-top: 10px;
  margin-right: 30px;
  font-weight: lighter;
}

#watchlist-button {
  float: right;
  height: 30px;
  width: 135px;
  opacity: 1;
  margin-top: 30px;
  border-style: none;
  background-color: white;
  color: black;
  font-size: 13px;
  line-height: 0px;
}

#watchlist-button:hover {
  background-color: grey;
  color: white;
}

@media (max-width: 992px) {
  .btnModal {
    width: 50px !important;
  }

  #netflix {
    background: url("../images/btn_Netflix_small.png") black;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #now {
    background: url("../images/btn_Now_small.png") white;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #prime {
    background: url("../images/btn_Prime_small.png") rgb(36, 48, 63);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #iplayer {
    background: url("../images/btn_iPlayer_small.png") black;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #apple {
    background: url("../images/btn_AppleTV_small.png") black;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #disney {
    background: url("../images/btn_Disney_small.png") black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #all4 {
    background: url("../images/btn_4_small.png") rgb(30, 30, 30);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #britbox {
    background: url("../images/btn_BritBox_small.png") rgb(26, 36, 45);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #zee5 {
    background: url("../images/btn_Zee5_small.png") white;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #mubi {
    background: url("../images/btn_Mubi_small.png") black;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (max-width: 576px) {
  #buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #pleaseSelect {
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 4px;
    color: white;
  }
}

/* Watchlist styling additions start here*/

#watchlistIntro {
  position: relative;
  text-align: center;
  color: white;
  height: calc(100vh - 300px);
  background-color: black;
  margin-right: 2px;
  margin-left: 2px;
}

#watchlist-jumbo {
  opacity: .3;
  height: calc(100vh - 300px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
}

#back-search {
  height: 30px;
  width: 300px;
  opacity: 1;
  margin-right: 2px;
  border-style: none;
  background-color: white;
  color: black;
  line-height: 0px;
  margin-bottom: 5px;
}

#back-search:hover {
  background-color: grey;
  color: white;
}

#watchlist-posters {
  height: 100vh;
  margin-left: 12px;
  margin-right: 12px;
}

.watchlist-close {
  color: white;
  opacity: 1;
}

.watchlistMovieDataPoster {
  width: 50%;
  height: 33.75%;
}

.modal-header .watchlist-close {
  padding: .5rem .75rem;
}

#watchlist-posters {
  height: 100vh;
  margin-left: 12px;
  margin-right: 12px;
}

#watchlist-selection .watchlist-title {
  font-size: 25px;
  margin-bottom: 20px;
}

#watchlist-selection {
  padding-left: 20px;
}

#watchlist-selection .watchlist-plot {
  margin-top: 10px;
  margin-right: 30px;
  font-weight: lighter;
}

#watchlist-selection {
  display: flex;
  flex-direction: column;
}

#watchlist-remove {
  float: right;
  height: 30px;
  width: auto;
  opacity: 1;
  margin-top: 60px;
  border-style: none;
  background-color: white;
  color: black;
  font-size: 13px;
  line-height: 0px;
}

#watchlist-remove:hover {
  background-color: grey;
  color: white;
}

#watchlist-title {

  color: white;
  text-align: center;
}

#clear-watchlist {
  height: 30px;
  width: 300px;
  opacity: 1;
  margin-right: 2px;
  border-style: none;
  background-color: white;
  color: black;
  line-height: 0px;
  margin-bottom: 5px;
}

#clear-watchlist:hover {
  background-color: grey;
  color: white;
}


#goWatchlist {
  font-size: 15px;
  padding-top: 9px;
  padding-bottom: 8px;
  color: white;
}

#goWatchlist:hover {
  opacity: .5;
}

#watchlistIcon {
  position: relative;
  bottom: 1px;
  height:17px;
  margin-left: 8px;
}

#navigationText {
  display: flex;
  justify-content: space-between;
}

a:hover {
  text-decoration: none;
}

.backgroundGrey {
  background-color: grey !important;
  color: white !important;
}

#SearchClearButtons {
  display: flex;
  justify-content: space-between;
}

#loading {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 10px;
}

.platformBtn {
  opacity: 0.3;
}

.platformBtnFocus {
  opacity: 1;
}